.timeline-chart .axis path {
  fill: none;
  stroke: none; }

.timeline-chart line {
  stroke: LightBlue; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
  fill: transparent; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: #AB82FF;
  stroke: LightBlue2; }
